
<!--[if IE]>
<h1>对不起，你的浏览器版本太低，请升级</h1>
<![endif]-->

<div id="loading-page" style="width:100%;height:100%;overflow:hidden;position:fixed;top:0;left:0;z-index:9999;background:#0893d2;text-align:center;">
    <div style="position:absolute;top:40%;left:0;right:0;bottom:0;margin:auto;color:#fff;">
        <h1 class="loading">加载中</h1>
        <p>派乐 · 分享快速 工作超越</p>
    </div>

</div>

<div class="px-full-screen">
    <!--右侧导航区-->
    #parse('common/side-bar.vm')
    <!--主要内容区-->
    <div class="px-content">
        <!--群组会话时，显示的头部-->
        #parse('common/content-head.vm')

        <px-content-body  is-part-open="vm.asideConfig.isPartOpen" is-global-open="vm.asideConfig.isGlobalOpen">
            <!--右侧区域-->
            <div class="px-content-side tab-content" ng-controller="AsideController" aside-group="">
                <div class="px-aside" is-active="vm.asideConfig.isPartOpen" aside="part">
                    #parse('common/team-detail.vm')

                    #parse('common/people-detail.vm')

                </div>

                <div class="px-aside" is-active="vm.asideConfig.isGlobalOpen" aside="global" style="z-index: 100;">
                    #parse('common/global-favorite.vm')

                    #parse('common/global-member.vm')

                    #parse('common/global-file.vm')
                </div>

            </div>
            <!--路由渲染区-->
            <div class="px-message-container" ui-view>

            </div>
        </px-content-body>
    </div>

</div>


<div class="global-progressbar" ng-show="vm.currentItem">
    <progressbar  value="vm.currentItem.progress"></progressbar>
    <span style="position:absolute;left:0;top:0;color: #fff;margin-left: 10px;">{{'正在上传文件：'+vm.currentItem.file.name+'... '+vm.currentItem.progress+'%'}}</span>
    <a href="javascript:;" style="position:absolute;right:10px;top:0;" ng-click="vm.currentItem.cancel()">取消上传</a>
</div>

<input type="file" multiple name="file-upload" style="display:none;" global-file-input nv-file-select uploader="fileUploader" options="fileItemOption"/>

<div class="back-drop drop-desc" on-drop="hideBackDrop($event)" on-drag-leave="hideBackDrop($event)"  nv-file-drop uploader="fileUploader" options="fileItemOption" ng-if="vm.isUpload"></div>

<script>

    #if(${user})
    window.sessionUser = $!{user};
    #else
    window.sessionUser = null;
    #end


    window.config=${config};

    window.initData=${init};
	
	window.scriptVersion="$!{scriptVersion}";
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?91dab82a6ef81db2e5947dc18533ebba";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript">

    (function($document,$window){
        var base=$window.location.host;
        var scripts=[
            'lib/jquery/jquery-1.11.2.js',
            'lib/jquery/jquery.noty.packaged.js',
            'lib/angular/angular.bundle.min.js',
            'lib/angular/angular-sanitize.min.js',
            'lib/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js',
            'lib/seajs/sea.js',
            'sea.config.js'
        ];

        var isProduction=window.location.href.indexOf('parox.cn')>-1;
        var base=isProduction?'../dist/??':'../js/';

        if(isProduction){
            //如果是生产环境，合并请求
            createScript(base,scripts.join(','));
        }else{
            createScript(base,scripts);
        }

        function createScript(baseSrc,src){
            var html='';
            if(src instanceof Array){
                src.forEach(function(add){
                    html+='<script src="'+(baseSrc+add)+'?v=${scriptVersion}"><\/script>';
                });

            }else{

                html+='<script src="'+(baseSrc+src)+'?v=${scriptVersion}"><\/script>';
            }
            $document.write(html);
        }

    })(document,this);

</script>
