<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>派乐注册</title>
    <link rel="stylesheet" href="${config.webRoot}/css/mobile/style.css">
    <link rel="stylesheet" href="${config.webRoot}/css/mobile/ionic.app.css"/>
    <link rel="stylesheet" href="${config.webRoot}/css/mobile/reset.css"/>
</head>
<body>

    <div ng-if="shareUser && !vm.isUiView" class="px-wrap hid" ng-class="{show:!vm.isUiView,hid:vm.isUiView}">
        <div class=" px-invited-join-team">
            <px-user-photo user="shareUser" size="big" class="px-pai"></px-user-photo>
            <p class="px-wang">${userProfile.nickName}&nbsp;&nbsp;邀请您加入</p>
            <p class="px-company">派 乐</p>
            <button class="button button-block" ng-click="toRegister()">
                立即加入
            </button>
            <span class="px-bottom">即时通讯·任务派发·共享文件 多终端移动办公</span>
        </div>
    </div>
    <div ng-if="!shareUser && !vm.isUiView" class="px-index hid" ng-class="{show:!vm.isUiView,hid:vm.isUiView}">
        <img src="${config.webRoot}/images/mobile/intro1.png">
        <a href="javascript:;"><button class="button button-block"  ng-click="toRegister()">立即注册</button></a>
    </div>
    <div class="px-wrap" ui-view>

    </div>
    <script>
        #if(${userProfile})
            window.initData=${userProfile};
        #else
            window.initData=null;
        #end

        #if(${config})
            window.config=${config};
        #else
            window.config=null;
        #end
        
        window.scriptVersion="$!{scriptVersion}";
    </script>
    <script type="text/javascript">

        (function($document){

            var scripts=[
                'lib/jquery/jquery-1.11.2.js',
                'lib/jquery/jquery.noty.packaged.js',
                'lib/angular/angular.bundle.min.js',
                'lib/angular/angular-sanitize.min.js',
                'lib/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js',
                'lib/seajs/sea.js',
                'module/mobile/sea.register.config.js'
            ];

            var isProduction=window.location.href.indexOf('parox.cn')>-1;
            var base=isProduction?'${config.webRoot}/dist/??':'${config.webRoot}/js/';

            if(isProduction){
                //如果是生产环境，合并请求
                createScript(base,scripts.join(','));
            }else{
                createScript(base,scripts);
            }

            function createScript(baseSrc,src){
                var html='';
                if(src instanceof Array){
                    src.forEach(function(add){
                        html+='<script src="'+(baseSrc+add)+'?v=${scriptVersion}"><\/script>';
                    });

                }else{

                    html+='<script src="'+(baseSrc+src)+'?v=${scriptVersion}"><\/script>';
                }
                $document.write(html);
            }

        })(document);

    </script>
</body>
</html>