
<!--[if IE]>
<h1>对不起，你的浏览器版本太低，请升级</h1>
<![endif]-->

<div class="px-page wp-page" ng-if="!failedlinkState">
    <!--页面头部-->
    <header class="px-page-header">
        <!--菜单-->

        <div class="pull-right">
            <a href="javascript:;" class="px-btn px-btn-success pull-right" style="margin:12px 20px;" ng-if="!currentUser.id" ng-click="showLoginDialog()">
                登录
            </a>
            <common-user-header ng-if="currentUser.id"></common-user-header>
        </div>
        <div class="wp-logo">
            <a href="javascript:;">
                <!--<img src="/images/logo-01.png" />-->
                <span class="fa fa-cloud" style="font-size: 26px;"></span>
                <span class="explain">分享快速，工作超越</span>
            </a>
        </div>

    </header>
    <!--页面主体-->
    <div class="px-page-body">

        <div class="wp-container">
            <div class="wp-content">

                <div class="wp-content-header share-explain-header hid" ng-class="{show:!vm.isEncrypted,hid:vm.isEncrypted}">
                    <px-user-photo class="pull-left" size="middle" user="shareUser"></px-user-photo>
                    <div>
                        <span ng-bind="::shareUser|pxUserName"  style="margin-left:10px;"></span>分享的
                        <span ng-bind="::shareData.fileNum"></span>个文件(夹)
                    </div>
                </div>
                <div class="wp-content-header  share-explain-header hid" ng-class="{show:vm.isEncrypted,hid:!vm.isEncrypted}" style="width: 600px;margin: 10px auto;border-width: 1px;">
                    <px-user-photo class="pull-left" size="middle" user="shareUser"></px-user-photo>
                    <div>
                        <span ng-bind="::shareUser|pxUserName"  style="margin-left:10px;"></span>给您分享了加密文件
                    </div>
                </div>
                <div class="wp-content-body" ui-view>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="inaccessible-page" ng-if="failedlinkState">
    <div ng-if="failedlinkState=='timeout'">
        <img src="/images/common/pan/calculate-share.png">
        <p>分享已过期</p>
        <p class="explain">您来晚了，文件分享的链接已过有效期（7天），您可以联系对方重新分享～～</p>
    </div>
    <div  ng-if="failedlinkState=='closed'">
        <img src="/images/common/pan/document-share.png">
        <p>对方已取消分享</p>
        <p class="explain">对方已经取消了文件的分享，您可以联系对方重新分享～～</p>
    </div>
    <div ng-if="failedlinkState=='notExist'">
        <img src="/images/common/pan/link-share.png">
        <p>链接地址错误</p>
        <p class="explain">文件分享的链接地址有误，请确认后重试～～</p>
    </div>
    <div ng-if="failedlinkState=='notExistResource'">
        <img src="/images/common/pan/resource-share.png">
        <p>分享的资源已删除</p>
        <p class="explain">对方删除了分享的文件，您可以联系对方重新分享～～</p>
    </div>
</div>





<script>

    #if(${user})
        window.sessionUser = $!{user};
    #else
    window.sessionUser = null;
    #end
    #if(${panLink})
    window.initData=${panLink};
    #else
    window.initData=null;
    #end

    #if(${notExist})
        window.failedlinkState='notExist';

    #elseif(${closed})
    window.failedlinkState='closed';

    #elseif(${timeout})
    window.failedlinkState='timeout';

    #end

    window.config=${config};

    #if(${shareUser})
    window.shareUser=${shareUser};
    #else
    window.shareUser=null;
    #end

    window.scriptVersion="$!{scriptVersion}";
</script>
<script type="text/javascript">

    (function($document){

        var scripts=[
            'lib/jquery/jquery-1.11.2.js',
            'lib/jquery/jquery.noty.packaged.js',
            'lib/angular/angular.bundle.min.js',
            'lib/angular/angular-sanitize.min.js',
            'lib/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js',
            'lib/seajs/sea.js',
            'module/pan-share/sea.share.config.js'
        ];

        var isProduction=window.location.href.indexOf('parox.cn')>-1;
        var base=isProduction?'${config.webRoot}/dist/??':'${config.webRoot}/js/';

        if(isProduction){
            //如果是生产环境，合并请求
            createScript(base,scripts.join(','));
        }else{
            createScript(base,scripts);
        }

        function createScript(baseSrc,src){
            var html='';
            if(src instanceof Array){
                src.forEach(function(add){
                    html+='<script src="'+(baseSrc+add)+'?v=${scriptVersion}"><\/script>';
                });

            }else{

                html+='<script src="'+(baseSrc+src)+'?v=${scriptVersion}"><\/script>';
            }
            $document.write(html);
        }

    })(document);

</script>
