<!--[if IE]>
<h1>对不起，你的浏览器版本太低，请升级</h1>
<![endif]-->

<div class="px-page wp-page">
    <header class="px-page-header">

        <div class="pull-right">
            <common-user-header></common-user-header>
        </div>
        <!--<div class="wp-logo">
            <a href="http://chat.parox.cn">
                <img src="../images/logo-01.png" />
                <span class="explain">分享快速，工作超越</span>
            </a>
        </div>-->
        <common-header-nav></common-header-nav>
    </header>

    <div class="px-page-body">



        <div class="wp-container">
            <div class="wp-content">

                <div class="wp-content-body">
                    <ul class="wp-tab-nav list-unstyled clearfix">
                        <li ui-sref-active="active">
                            <a ui-sref="disk">我的微盘</a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="share">我的分享</a>
                        </li>
                    </ul>
                    <div class="" ui-view>

                    </div>

                    <div class="wp-search-box">
                        <div class="px-icon-input px-icon-input-middle px-input-circle">
                            <input type="search" placeholder="搜索功能正在开发中..." on-change="onKeyWordChange($event)" class="form-control" disabled>
                            <span class="px-icon-btn fa fa-search"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



<script>

    #if(${user})
        window.sessionUser = $!{user};
    #else
    window.sessionUser = null;
    #end

    #if(${config})
    window.config=${config};
    #else
    window.config=null;
    #end

    window.scriptVersion="$!{scriptVersion}";
</script>
<script type="text/javascript">

    (function($document){

        var scripts=[
            'lib/jquery/jquery-1.11.2.js',
            'lib/angular/angular.bundle.min.js',
            'lib/angular/angular-sanitize.min.js',
            'lib/seajs/sea.js',
            'module/pan/sea.pan.config.js'
        ];

        var isProduction=window.location.href.indexOf('parox.cn')>-1;
        var base=isProduction?'../dist/??':'../js/';

        if(isProduction){
            createScript(base,scripts.join(','));
        }else{
            createScript(base,scripts);
        }

        function createScript(baseSrc,src){
            var html='';
            if(src instanceof Array){
                src.forEach(function(add){
                    html+='<script src="'+(baseSrc+add)+'?v=${scriptVersion}"><\/script>';
                });

            }else{

                html+='<script src="'+(baseSrc+src)+'?v=${scriptVersion}"><\/script>';
            }
            $document.write(html);
        }

    })(document);

</script>
