#set($layout="/layout/default_unlogin.vm")
<div class="px-page">
    <div class="px-page-header">
        <a href="http://www.parox.cn" class="px-logo">
            <h1 class="px-logo-img">杭州道曼科技有限公司</h1>
            <p class="px-explain">分享快速，工作超越</p>
        </a>

        <a href="/login" class="px-btn px-btn-success pull-right" ng-if="!resetSuccess">登录</a>
    </div>
    <div class="px-page-body px-reset-password" ng-controller="ResetPasswordController">
        <div class="px-panel" ng-if="!resetSuccess">
            <div class="px-panel-header">
                <h1 class="px-main-title text-center">设置新密码</h1>
            </div>

            <form name="resetPasswordForm" ng-submit="onSubmit(${recover.id})" class="px-form">
                <div class="form-group mail-text">
                    <span>${recover.account}</span>
                </div>
                <div class="input-group px-float">
                    <input type="{{passwordVisual?'text':'password'}}" ng-model="account.password" ng-minlength="6" ng-maxlength="30"
                    placeHolder="输入6位以上新密码" class="form-control px-input-base" required=""/>
                    <span class="eyes" ng-click="showPassword()">显示</span>
                </div>
                <div class="form-group">
                    <button class="form-control px-btn px-btn-primary" ng-disabled="resetPasswordForm.$invalid">
                        <span>完成</span>
                    </button>
                </div>
            </form>
        </div>
        <div  class="px-panel px-success-panel" ng-if="resetSuccess">
            <div class="px-panel-header">
                <h1 class="px-main-title text-center">恭喜，密码找回成功！</h1>
            </div>
            <div class="px-form">
                <div class="form-group mail-text">
                    <span>${recover.account}</span>
                </div>
                <div class="form-group">
                    <a href="/login" class="form-control px-btn px-btn-primary">
                        <span>立即登录</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>