#set($layout="/layout/default_unlogin.vm")
<div class="px-page">
    <div class="px-page-header">
        <a href="http://www.parox.cn" class="px-logo">
            <h1 class="px-logo-img">杭州道曼科技有限公司</h1>
            <p class="px-explain">分享快速，工作超越</p>
        </a>
        <a href="/login" class="px-btn px-btn-success pull-right">登录</a>
    </div>
    <div class="px-page-body" ng-controller="RegisterStep2Controller">
        <div class="px-create-team ">
            <div class="px-panel in" >
                <div class="px-panel-header">
                    <h1 class="px-main-title text-center">注册成功</h1>
                </div>
                <div class="px-panel-body">
                    <form name="companyCreateForm" ng-submit="onSubmit($event)" class="px-form" novalidate>
                        <div class="form-group">
                            <p>
								<i class="icon-ok-sign icon-success icon-middle"></i>&nbsp;&nbsp;注册成功，你可以创建团队或
								<a href="javascript:;" ng-click="next()">跳过此步</a>
							</p>
                        </div>
                        <hr class="px-line-dotted px-line-primary">
                        <div class="form-group">
                            <input type="text" name="name" ng-model="company.name" class="px-input-base form-control" placeholder="请输入团队名称" ng-minlength="2" ng-maxlength="30" px-focus="">
                        </div>


                        <div class="form-group">
                            <button class="form-control px-btn px-btn-primary" ng-disabled="companyCreateForm.$invalid||companyCreateForm.name.$pristine">创建团队</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>