<div class="px-content-header" ng-controller="HeaderController">
    <!--header右边搜索框和功能区-->
    <div class="px-header-right pull-right" style="width:360px; position:relative;">

        <div style="position:absolute;left:0;right:80px;">
            <px-icon-input-inner icon-type="search" is-disabled="true" placeholder="搜索功能正在开发中..." input-type="circle" ng-model="vm.key"></px-icon-input-inner>
        </div>

        <div class="pull-right" style="height:100%">
            <ul class="px-btn-list list-unstyled clearfix">
                <li>
                    <button class="px-btn-circle px-btn-circle-large px-btn-circle-info"
                            ng-class="{active:globalStatus.globalFavorite}" data-name="globalFavorite" ng-click="onClick($event)">
                        <span class="fa fa-star-o"></span>
                    </button>
                </li>
                <li class="dropdown" dropdown>
                    <button class="px-btn-circle px-btn-circle-large px-btn-circle-info" dropdown-toggle>
                        <span class="icon" >···</span>
                    </button>
                    <ul class="dropdown-menu px-placement-right  px-icon-color active-color-grey">
                        <li ng-class="{active:globalStatus.globalFile}" data-name="globalFile" ng-click="onClick($event)">
                            <a href="javascript:;"><i class="fa fa-file"></i>文档</a>
                        </li>
                        <li class="divider"></li>
                        <li  data-name="globalFile" ng-click="openWeiPan()">
                            <a href="javascript:;"><i class="fa fa-cloud"></i>微盘</a>
                        </li>
                        <!--<li>
                            <a href="javascript:;" ng-click="inviteMember()"><i class="icon-tasks"></i>任务</a>
                        </li>-->
                        <li class="divider" ng-if="!team.isSystem"></li>
                        <li ng-class="{active:globalStatus.globalMember}" data-name="globalMember" ng-click="onClick($event)">
                            <a href="javascript:;" ng-if="!team.isSystem"><i class="fa fa-user"></i>联系人</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="px-header-left" ng-if="vm.chatType===1">
        <div class="pull-left">
            <h1 class="px-content-header-title" ng-bind="chatTarget.name"></h1>
        </div>

        <div class="dropdown pull-left" dropdown ng-if="chatTarget.isSystem!=1">
            <button class="dropdown-toggle px-icon-btn px-icon-set" dropdown-toggle>
                <span class="icon-small fa fa-cog icon-normal"></span>
            </button>
            <ul class="dropdown-menu  px-icon-color">
                <li>
                    <a href="javascript:;" ng-click="editTeam()"><i class="fa fa-cog"></i>群组设置</a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="inviteMember()"><i class="fa fa-user"></i>添加成员</a>
                </li>
                <li class="divider" ng-if="!team.isSystem"></li>
                <li>
                    <a href="javascript:;" ng-if="!team.isSystem" class="px-text-danger" ng-click="leaveTeam()"><i class="default-color fa fa-sign-out default-color"></i> 离开群组</a>
                </li>
                <li ng-if="chatTarget.adminUid==currentUser.id">
                    <a href="javascript:;" ng-if="!team.isSystem" class="px-text-danger" ng-click="deleteTeam()"><i class="fa fa-trash-o default-color"></i> 删除群组</a>
                </li>

            </ul>
        </div>
        <div class="pull-right" style="margin-right:10px;">
            <button class="px-icon-btn" ng-click="viewTeamMember()">
                <span class="fa fa-user"></span>
                <span ng-bind="teamMembers.length"></span>
            </button>

            <button class="px-btn-circle px-btn-circle-large px-btn-circle-info"
                    data-id="team-detail" ng-class="{active:partStatus.teamDetail}" data-name="teamDetail" ng-click="onClick($event)">
                <span class="fa fa-info-circle"></span>
            </button>

        </div>
    </div>
    <!--私人会话时，显示的头部-->
    <div class="px-header-left" ng-if="vm.chatType===0">

        <div class="pull-left">
            <h1 class="px-content-header-title pull-left" ng-bind="chatTarget|pxUserName"></h1>
        </div>

        <div class="dropdown pull-left" dropdown ng-if="chatTarget.targetUid!=1000000">
            <button class="dropdown-toggle px-icon-btn px-icon-set" dropdown-toggle>
                <span class="icon-small fa fa-cog icon-normal"></span>
            </button>
            <ul class="dropdown-menu  px-icon-color">
                <li>
                    <a href="javascript:;" ng-click="viewProfile()"><i class="fa fa-info-circle"></i>查看资料</a>
                </li>
                <li ng-if="chatTarget.profile.id!=1000000">
                    <a href="javascript:;" ng-click="editRemarkName()"><i class="fa fa-pencil-square-o"></i>修改备注姓名</a>
                </li>
            </ul>
        </div>
        <div class="pull-right" style="margin-right:10px;">

            <button class="px-btn-circle px-btn-circle-large px-btn-circle-info"
                    data-id="team-detail" ng-class="{active:partStatus.peopleDetail}" data-name="peopleDetail" ng-click="onClick($event)">
                <span class="fa fa-info-circle"></span>
            </button>

        </div>
    </div>
</div>