#loadScript([
	"/js/lib/jquery/jquery-1.11.2.js",
	"/js/lib/angular/angular.bundle.min.js",
	"/js/lib/underscore/underscore.js",
	"/js/app.config.js",
	"/js/components/dialog.js",
	"/js/services/localstorage.js",
	"/js/lib/bootstrap/ui-bootstrap-tpls.js",
	"/js/module/register-login/register-login.controller.js"
],"", "$!{scriptVersion}")

<script type="text/javascript">
(function(ng){
    ng.bootstrap(document, ['app.register-login']);
})(angular);
</script>