<div id="global-member" px-aside-item aside-item-title="联系人" aside-item-header-background="#f5f5f5" is-active="vm.globalStatus.globalMember">
    <div ng-controller="CompanyMemberController">

        <div class="px-panel px-tool-bar">

            <!--邀请成员按钮-->
            <div class="pull-right">
                <button class="px-btn px-btn-empty px-btn-empty-primary" ng-click="inviteMember()"><span class="fa fa-user"></span>邀请成员</button>
            </div>
            <!--搜索框-->
            <div style="margin-right: 120px;">
                <px-icon-input-inner icon-type="search" class-name="noEffect" placeholder="搜索成员" ng-model="vm.key" style="border-right:1px solid #E6E6E6;"></px-icon-input-inner>
            </div>


        </div>
        <div class="px-aside-content">
            <div class="px-panel">
                <div class="px-panel-header px-panel-header-sm px-line-none">
                    <h5 class="px-panel-title px-panel-title-sm">团队成员<span class="px-num">({{members.length}})</span></h5>
                </div>
                <div class="px-panel-body">
                    <ul class="list-unstyled clearfix px-member-list">
                        <li ng-repeat="member in members track by $index" class="clearfix">
                            <!--头像-->
                            <div class="pull-left">
                                <px-user-photo user="member.profile||member" size="small" ></px-user-photo>
                            </div>

                            <!--菜单-->
                            <div class="pull-right">
                                <div class="dropdown" dropdown style="display:inline-block;height: 36px;line-height: 36px;">
                                    <button class="px-icon-btn" dropdown-toggle>
                                        <span class="fa fa-angle-down icon-middle"></span>
                                    </button>
                                    <ul class="dropdown-menu px-placement-right px-icon-color" role="menu"  ng-if="!member.isActive">
                                        <li ng-if="company.uidCreated!=member.profile.id">
                                            <a href="javascript:;" ng-click="inviteAgain($index)">重新邀请</a>
                                        </li>
                                        <li ng-if="currentUser.memberRole>0">
                                            <a href="javascript:;" ng-click="removeMember($index)">取消邀请</a>
                                        </li>
                                    </ul>
                                    <ul class="dropdown-menu px-placement-right px-icon-color" role="menu" ng-if="member.isActive&&currentUser.id!=member.profile.id">
                                        <li>
                                            <a href="javascript:;" px-chat-with="" user="member"><i class="fa fa-comment"></i>聊天</a>
                                        </li>
                                        <li><a href="javascript:;" ng-click="readUserInfo($index,'members')"><i class="fa fa-info-circle"></i>查看资料</a></li>

                                        <li><a href="javascript:;" ng-click="editRemarkName($index,'members')"><i class="fa fa-pencil"></i>编辑备注名</a></li>
                                        <li class="divider" ng-if="currentUser.memberRole>0"></li>

                                        <li ng-if="currentUser.memberRole==1&&member.memberRole==0">
                                            <a href="javascript:;" ng-click="setManager($index)"><i class="fa fa-user"></i>设为管理员</a>
                                        </li>
                                        <li ng-if="currentUser.memberRole==1&&member.memberRole==1">
                                            <a href="javascript:;" ng-click="setManager($index)"><i class="fa fa-user"></i>取消管理员</a>
                                        </li>
                                        <li class="divider" ng-if="currentUser.memberRole>0"></li>
                                        <li ng-if="company.uidCreated!=member.profile.id&&currentUser.memberRole==1">
                                            <a href="javascript:;" class="px-text-danger" ng-click="removeMember($index)"><i class="default-color icon-trash"></i>从团队中移除</a>
                                        </li>
                                    </ul>
                                    <ul class="dropdown-menu px-placement-right px-icon-color" role="menu" ng-if="member.isActive&&currentUser.id==member.profile.id">
                                        <li><a href="javascript:;" ng-click="readUserInfo($index,'members','noChat')"><i class="fa fa-info-circle"></i>查看资料</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--成员详情-->
                            <div>
                                <div>
                                    <h5 class="user-name">
                                        <span ng-bind="::member|pxNoMarkName"></span>
                                        <small class="text-muted" ng-if="member.mark">(<span ng-bind="member.mark"></span>)</small>
                                    </h5>
                                    <span class="px-label px-label-warning px-label-rectangular" ng-if="member.memberRole" ng-bind="::member.memberRole|codeToMemberRole"></span>
                                </div>
                                <div>
                                    <span class="px-online-status" ng-class="{'px-online':member.online,'px-offline':!member.online}"></span>
                                    <span ng-bind="::member.profile.email||member.account"></span>
                                </div>

                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="px-panel px-line-top">
                <div class="px-panel-header px-panel-header-sm px-line-none">
                    <h5 class="px-panel-title px-panel-title-sm">其他人<span class="px-num">({{contacts.length}})</span></h5>
                </div>
                <div class="px-panel-body">
                    <ul class="list-unstyled clearfix px-member-list">
                        <li ng-repeat="contact in contacts track by $index" class="clearfix">
                            <!--头像-->
                            <div class="pull-left">
                                <px-user-photo user="contact.profile||contact" size="small" ></px-user-photo>
                            </div>

                            <!--菜单-->
                            <div class="pull-right">
                                <div class="dropdown" dropdown style="display:inline-block;height: 36px;line-height: 36px;">
                                    <button class="px-icon-btn" dropdown-toggle>
                                        <span class="fa fa-angle-down icon-middle"></span>
                                    </button>
                                    <ul class="dropdown-menu px-placement-right px-icon-color" role="menu">
                                        <li><a href="javascript:;" px-chat-with="" user="contact"><i class="fa fa-comment"></i>聊天</a></li>
                                        <li><a href="javascript:;" ng-click="readUserInfo($index,'contacts')"><i class="fa fa-info-circle"></i>查看资料</a></li>

                                        <li><a href="javascript:;" ng-click="editRemarkName($index,'contacts')"><i class="fa fa-pencil"></i>编辑备注名</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:;" ng-click="inviteContact($index)"><i class="fa fa-user"></i>加入团队</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--成员详情-->
                            <div>
                                <div>
                                    <h5 class="user-name">
                                        <span ng-bind="::contact|pxNoMarkName"></span>
                                        <small class="text-muted" ng-if="contact.mark">(<span ng-bind="contact.mark"></span>)</small>
                                    </h5>
                                </div>
                                <div>
                                    <span class="px-online-status" ng-class="{'px-online':contact.online,'px-offline':!contact.online}"></span>
                                    <span ng-bind="::contact.profile.email||contact.account"></span>
                                </div>

                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>