<div id="global-file" px-aside-item aside-item-title="文档" aside-item-header-background="#f5f5f5" is-active="vm.globalStatus.globalFile">
    <div ng-controller="GlobalFileController">
        <div class="px-panel px-tool-bar">
            <div class="col-sm-8">
                <ul class="list-unstyled clearfix px-tool-list">
                    <li class="dropdown" dropdown>
                        <button class="px-icon-btn dropdown-toggle" dropdown-toggle>
                            <span ng-bind="sharedPosition||'分享在'" class="px-shared-position"></span>
                             <span class="fa fa-caret-down"></span>
                        </button>
                        <div class="dropdown-menu" role="menu" style="max-height:500px;overflow: auto;">
                            <div style="padding:0 10px;">
                                <!--搜索-->
                                <!--<px-icon-input-inner icon-type="search" placeholder="搜索群组、联系人" input-type="circle" ng-model="vm.key"></px-icon-input-inner>-->
                            </div>
                            <div class="global-search" ng-click="onGlobalSearchClick()">全部</div>
                            <div class="px-assortment-list">
                                <h6>群组</h6>
                                <!--群组-->
                                <ul class="list-unstyled">
                                    <li ng-repeat="team in teamList" ng-click="onTeamItemClick($index)">
                                        <a href="javascript:;" ng-bind="team.name"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="px-assortment-list">
                                <!--联系人-->
                                <h6>对象</h6>
                                <ul class="list-unstyled px-user-list">
                                    <li ng-repeat="contact in contactList" ng-click="onContactItemClick($index)">
                                        <px-user-photo user="contact.profile||contact" size="mini" class="pull-left"></px-user-photo>
                                        <a href="javascript:;" ng-bind="::contact|pxUserName"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown" dropdown>
                        <button class="px-icon-btn dropdown-toggle" dropdown-toggle>
                            <span ng-bind="currentTypeFilter.filterName"></span>
                            <span class="fa fa-caret-down"></span>
                        </button>
                        <file-filter filter-list="fileTypes" on-select="onSelect(filter)" class="active-color-grey px-dropdown-menu"></file-filter>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4 text-right">
                <!--<button class="px-btn px-btn-empty px-btn-empty-primary"><span class="icon-upload-alt"></span>上传文件</button>-->
            </div>
        </div>


        <div class="px-panel px-aside-content" px-infinite on-infinite="onInfinite()" distance="1%">
            <file-list ng-if="files.length">
                <file-item ng-repeat="file in files track by file.id"></file-item>
            </file-list>
            <p class="text-center" ng-if="!files.length" style="padding:20px 0;">没有搜索结果!</p>
        </div>
    </div>

</div>