
<link rel="shortcut icon" href="#springUrl('/img/icon.jpg')">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="图书管理系统-4CJ-subchurch" />
<meta name="keywords" content="" />
<meta name="author" content="philip,未见之乡,异乡客旅,天路客的吟咏" />
<meta name="application-name" content="iphilip.net" />
#loadCss([
	"/bower_components/bootstrap/dist/css/bootstrap.min.css",
	"/bower_components/metisMenu/dist/metisMenu.min.css",
    "/dist/css/sb-admin-2.css",
    "/bower_components/font-awesome/css/font-awesome.min.css"
],"","$!{scriptVersion}")


<script type="text/javascript">

    var userAgent=window.navigator.userAgent;
    var version=(userAgent.match( /.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/ ) || [])[1];
    var isIE11=/[M|m]ozilla/.test(userAgent) && !/(compatible|webkit)/.test( userAgent )&&version==11;

    if(userAgent.indexOf('MSIE')!==-1||isIE11){
        window.location.href="/lowBrowser";
    }
</script>
