<div class="px-nav px-theme-default px-theme-{{vm.theme}}" ng-controller="SidebarController">
    <!--组织标题部分-->

<px-nav-header company="company"></px-nav-header>

    <!--导航内容区-->
<div class="px-nav-body" px-scroll-bar>

    <!--讨论组-->
<div class="px-panel"><!--系统讨论组--->
    <ul class="list-unstyled px-list" ng-if="systemTeam" style="margin:10px 0 36px;">
        <li ui-sref-active="active" class="clearfix">
            <div style="position:relative;">
                <div style="position:absolute;">
                    <span class="icon-small fa fa-university"></span>
                </div>
                <div style="margin-left:26px;">
                    <a ui-sref="chat.team({tid:systemTeam.id})" class="ellipsis" ng-bind="systemTeam.name" disable-drag=""></a>
                </div>
            </div>
            <span class="px-label px-label-danger px-label-circle" ng-if="systemTeam.unRead" ng-bind="systemTeam.unRead"></span>

        </li>
    </ul>
<div class="px-panel-header clearfix">
    <!--讨论组头部标题-->
    <div class="pull-left clickable-div" ng-click="getTeamListWindow()">
        <!--图标-->
    <span class="icon-small fa fa-group"></span>
    群组(<span ng-bind="systemTeam?(teams.length-1):teams.length"></span>)
    </div>
    <!--讨论组头部按钮-->
<div class="pull-right">
<button class="px-icon-btn" ng-click="toTeamCreateView()">
<a href="javascript:;" class="icon-middle fa fa-plus-circle" tooltip="创建群组" tooltip-placement="bottom" tooltip-append-to-body="true"></a>
</button>
</div>
</div>
    <!--讨论组列表-->
<div class="px-panel-body">

<ul class="list-unstyled px-list"  style="margin-bottom:0;">
    <li ng-repeat="team in teams" ui-sref-active="active" class="clearfix" ng-if="team.isSystem==0">
    <!-- <div class="pull-left">
    <span class="icon-small {{discussion.isPrivate?'icon-lock':''}}"></span>
    </div>-->
    <div style="position:relative;">
        <div style="margin-left:19px;">
            <a ui-sref="chat.team({tid:team.id})" class="ellipsis" ng-bind="team.name" disable-drag=""></a>
        </div>
    </div>
    <span class="px-label px-label-danger px-label-circle" ng-if="team.unRead" ng-bind="team.unRead"></span>

    </li>
</ul>
</div>
</div>


    <!--最近联系人-->

<div class="px-panel">
    <!--讨论组头部按钮-->
<div class="px-panel-header cursor-point clearfix" >

<div class="pull-left un-outline" ng-click="goContactList()">
<span class="icon-small fa fa-user"></span>
最近联系人(<span ng-bind="recentContacts.length"></span>)
</div>

<div class="pull-right" ng-click="addContact()">
<span class="icon-middle fa fa-plus-circle" tooltip="添加好友" tooltip-placement="bottom" tooltip-append-to-body="true"></span>
</div>
</div>
    <!--联系人列表-->
<div class="px-panel-body">
<ul class="list-unstyled px-list">
    <li ng-repeat="contact in recentContacts" ui-sref-active="active" ng-if="contact.profile.id!=user.id">
        <div class="pull-left">
            <span class="px-online-status {{contact.online?'px-online':'px-offline'}}"></span>
        </div>
        <div class="pull-right" ng-click="remove($index)"  ng-if="contact.profile.id!=1000000">
            <a href="javascript:;">
                <i class="icon-small fa fa-times-circle"></i>
                <span class="px-label px-label-danger px-label-circle" ng-if="contact.unRead" ng-bind="contact.unRead"></span>
            </a>

        </div>
        <div style="margin: auto 20px;">
            <a ui-sref="chat.people({contactId:contact.profile.id||contact.uid})" ng-click="getBaseInfo($index)" class="ellipsis" ng-bind="contact|pxUserName" disable-drag></a>
        </div>

    </li>
</ul>
</div>
</div>


</div>



    <!--导航底部-->
<div class="px-nav-footer">
    <!--户用头像-->
<px-nav-user-head user="user"></px-nav-user-head>

</div>


</div>
