<div id="team-detail" px-aside-item aside-item-title="群信息" is-active="vm.partStatus.teamDetail" class="px-team-detail">

    <div class="px-accordion-group" px-accordion-group close-others="false" ng-controller="TeamDetailController">
        <!--群信息-->
        <px-accordion accordion-icon="info-circle" accordion-title="关于本群组" icon-color="#2095f2" is-expand="vm.teamInfo" on-toggle="onToggle($event,isExpand)" class="px-line-none">

            <div class="description" ng-bind="team.description" ng-if="team.description"></div>
            <div class="createTime">创建于<span ng-bind="team.gmtCreated|pxDate:'YYYY年MM月DD日'"></span></div>
            <ul class="list-unstyled team-tool-group" ng-if="team.isSystem!=1">
                <li ng-click="editDescription()">
                    <span class="fa fa-pencil-square-o"></span>编辑群组话题
                </li>
                <li ng-click="addTeamMember()">
                    <span class="fa fa-user"></span>添加成员
                </li>
                <li ng-click="leaveTeam()">
                   <span class="fa fa-sign-out"></span>离开群组
                </li>
            </ul>
        </px-accordion>

        <!--群成员-->
        <px-accordion accordion-icon="user" accordion-title="群组成员" accordion-subtitle="members.length" icon-color="#009587" is-expand="vm.teamMember" on-toggle="onToggle($event,isExpand)">
            <ul class="list-unstyled px-team-members">
                <li ng-repeat="member in members" class="dropdown" dropdown="">
                    <div  dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        <px-user-photo user="member.profile||member" size="mini" show-status="true" online="member.online" class="pull-left"></px-user-photo>
                        <span ng-bind="member|pxUserName" class="px-user-name px-text-ellipsis"></span>

                    </div>
                    <ul class="dropdown-menu px-placement-right" ng-if="member.targetUid==currentUser.id">
                        <li px-member-simple-info member="member"></li>
                        <li>
                            <a href="javascript:;" ng-click="viewProfile($index,'members')">查看资料</a>
                        </li>

                    </ul>
                    <!--其他成员的菜单-->
                    <ul class="dropdown-menu px-placement-right" ng-if="member.targetUid!=currentUser.id">
                        <li px-member-simple-info member="member"></li>

                        <li>
                            <!--<a href="javascript:;" ng-click="chatWith($index)" >聊天</a>-->
                            <a href="javascript:;" px-chat-with user="member" >聊天</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="viewProfile($index,'members')">查看资料</a>
                        </li>
                        <li ng-if="member.targetUid!==currentUser.id">
                            <a href="javascript:;" ng-click="editRemarkName($index)">编辑备注名称</a>
                        </li>
                        <li  ng-if="currentUser.id==team.adminUid&&team.isSystem!=1">
                            <a href="javascript:;" ng-click="removeTeamMember($index)">移出群组</a>
                        </li>
                    </ul>

                </li>
            </ul>
        </px-accordion>


        <!--群组文档-->
        <px-accordion accordion-icon="file" accordion-subtitle="files.length" accordion-title="群组文档" icon-color="#3e50b4" is-expand="vm.teamFile" on-toggle="onToggle($event,isExpand)">
            <file-list style="margin:0 -20px;">
                <file-item ng-repeat="file in files track by file.id"></file-item>
            </file-list>
        </px-accordion>
    </div>
</div>