#set($layout="/layout/blank.vm")
<!DOCTYPE html>
<html class="px-full-screen">
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>Library-CJ</title>
    #parse('/common/header.vm')
</head>
<body class="px-full-screen" ng-controller="AppController" on-drag-enter="showBackDrop($event)" on-drop="onBodyDrop($event)">
$screen_content
</body>
</html>